<div class="container">
  <div class="row">
    <div class="col m6">
      <div id="logo-container">
        <div>
          <h3>
            BookHub
          </h3>
        </div>
        <div class="small">
          - searching books made easy!
        </div>
      </div>
    </div>
    <div class="col m6 right-align hide">
      <div id="stats-container">
        <div id="stats-box">
          <div id="total-books">
            <b>
              Total Books
            </b>
            : {{data.totalBooks || 0}}
          </div>
          <div id="sperator">
            |
          </div>
          <div id="total-bookmarks">
            <b>
              Total Bookmarks
            </b>
            : {{data.totalBookmarks || 0}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>